@font-face {
  font-family: 'Accasia';
  src: url('fonts/Accasia_Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cyber Brush';
  src: url('fonts/Cyber\ Brush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mechline';
  src: url('fonts/Mechline.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Backover';
  src: url('fonts/Backover-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hello Botuna';
  src: url('fonts/Hello\ Botuna.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brunson';
  src: url('fonts/Brunson.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
}




body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  color: #333;
  overflow-x: hidden;
}

h1 {
  color: black;
 
  margin: 0;
  font-family: "Hello Botuna", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 100px;
}

h3 {
  color: black;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}

.cabecalho {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 0px;
  height: 450px;
  padding-bottom: 70px;
  max-width: 100%;
  overflow-x: hidden;
}

.cabeçalhoText {
  padding-top: 90px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0
}

img.perfil {
  width: 400px;
  height:auto;
  padding-top: 50px;
  padding-right: 10px;
  max-width: 100%;
}

.menu {
  width: 90%;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  padding: 5px;
  background-color: white;
}

.menu a {
  position: relative;
  margin: 0px 30px;
  text-decoration: none;
  color: black;
  font-family: "Hello Botuna", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 15px;
  overflow: hidden;
  z-index: 1;
}

.menu a::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #F20519;
  transition: width 0.4s ease;
  z-index: -1;
  transform: skewX(-20deg);
  
}

.menu a:hover::before {
  width: 105%;
}
.menu a:hover {
  color: white;
}

.conteudo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

iframe {
  border: none;
  width: 100%;
}

hr {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}
